@font-face {
	font-family: mainFont;
	src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf'); 
}

body{
  font-family: mainFont;
  background-color: #2d2d2d;
  color: #f8efe6;
}

h1{
  text-align: center;
}

.tech-section{
  text-align: center;
}

.demo-glow{
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  margin: 1rem;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;
}

